* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.menu {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 0 auto 15px auto;
  width: 60%;
}
.menu a {
  cursor: pointer;
  font-size: 1.5rem;
  color: #754808;
  text-decoration: none;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 10px;
  padding: 20px;
  margin: 100px 0 0 0;
  width: min(800px, 90%);
  min-height: 450px;
  height: fit-content;
  font-size: 1.2rem;
}
main {
  text-align: center;
}
main div {
  line-height: 3rem;
}

