/* You can add global styles to this file, and also import other style files */
body {
  background: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg");
  background-attachment: fixed;
  background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}
input[type=text] {
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: #754f08 0 0 5px;
}
.list {
  line-height: normal !important;
  text-align: center;
}
button {
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  background: rgba(96, 48, 8, 0.76);
  border-radius: 15px;
  box-shadow: rgba(227, 134, 13, 0.56) 0px 0px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  margin: 10px;
}
button:hover {
  font-size: 1.25rem;
}
